@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #F4F4F4;
}

/*------------------------------------------------------*/
/*-------------------  |  HEADER  |  -------------------*/
/*------------------------------------------------------*/
header{
    background-color: #2062AD;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 3.5em;
}

.title{
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 0px;
    text-align: center;
}

.div-header{
    display: flex;
    align-items: center;
}

#div-logo{
    width: 2.5em;
}

#logo-cimol{
    width: 2.5em;
}

#div-title{
    width: 100%

}

.title{
    width: 100%;

}

#list{
    background-color: #F4F4F4;
    width: 2.1em;
    border-radius: 0px 0px 5px 0px;
    position: fixed;
}

#list-img{
    width: 2em;
    position: fixed;
}

.list-disable{
    display: none;
}

.list-active{
    display: block;
    width: 100%;
    height: 100%;
}

#nav-itens h3{
    text-align: center;
    font-size: 1.3em;
    margin-top: 2%;
}

#nav-itens ul {
    padding: 0px;
}

#nav-itens ul li{
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 1% 0% 1% 0%;
}

.list-item{
    text-decoration: none;
    color: #000;
    font-size: 1.7em;
    width: 100%;
}

.h2-section{
    width: auto;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0px;
}

.div-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25vh;
}

.div-text p{
    font-size: 0.8em;
    text-align: center;
    width: 80%;
    margin-bottom: 0px;
}

#form{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form div label{
    width: 100%;
    padding: 0% 0% 2% 2%;
    margin-top: 2%;
    font-size: 0.9em;
}

#form div{
    width: 85vw;
}

.input-login{
    border: 1px solid #2062AD;
    border-radius: 5px;
    height: 6vh;
    padding-left: 2%;
    width: 85vw;
}

#div-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
}

.btn-submit{
    width: 70vw;
    padding: 2% 0% 2% 0%;
    border: none;
    background-color: #2062AD;
    border-radius: 5px;
    color: #fff;
    margin-top: 5%;
}

.disabled{
    display: none;
}

.active{
    display: block;
}

#select-aluno{
    width: 40%;
}
/*------------------------------------------------------*/

@media only screen and (min-width: 600px) {
    header{
        height: 9.4em;
    }

    #logo-cimol{
        width: 7em;
    }

    #div-logo{
        width:7em;
    }

    .title{
        font-size: 2.8em;
    }
}

@media only screen and (min-width: 900px) {
    .title{
        font-size: 2.7em;
    }
}

@media only screen and (min-width: 1200px) { 
    header{
        height: 6em;
    }

    #logo-cimol{
        width: 5em;
    }

    #div-logo{
        width:5em;
    }

    .title{
        font-size: 2em;
    }
}

@media only screen and (min-width: 1800px) { 
    header{
        height: 9.4em;
    }

    #logo-cimol{
        width: 7em;
    }

    #div-logo{
        width:7em;
    }

    .title{
        font-size: 2.8em;
    }
}